---
import EdytorStron from "@/components/edytor-stron"
import BaseLayout from "@/layouts/BaseLayout.astro";
import '@/styles/_variables.scss'
import '@/styles/_keyframe-animations.scss'
---

<BaseLayout title="Panel administracyjny">
  <h1><a href="/admin/dodaj">Dodaj nową stronę</a></h1>
  <h1><a href="/admin/listastron">Zarządzanie dodanymi treściami</a></h1>
  <h1><a href="/admin/usermanagement">Zarządzanie użytkownikami</a></h1>
</BaseLayout>
