---
import EdytorStron from "@/components/edytor-stron"
import BaseLayout from "@/layouts/BaseLayout.astro";
import '@/styles/_variables.scss'
import '@/styles/_keyframe-animations.scss'
import { ObjectId } from "mongodb";
const userId = Astro.locals.user?.id;
---

<BaseLayout title="Dodawanie nowej strony">
  <h1>Dodaj nową stronę</h1>
  <EdytorStron creatorId={userId!} client:only/>
</BaseLayout>
