---
import { getPageBySlug } from '@/lib/pagedb';
import type { Page } from '@/lib/pagedb';
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ProsemirrorViewer } from "@/components/prosemirror-viewer"


const { slug } = Astro.params;
const page: Page | null = await getPageBySlug(slug!);

if (!page) {
  throw new Error(`Nie znaleziono strony: ${slug}`);
}
---

<BaseLayout title={page.title}>
  <h1>Strona: {page.title}</h1>
  <ProsemirrorViewer content={page.content} client:only></ProsemirrorViewer>
</BaseLayout>
