---
//if (!Astro.locals.user?.id) return Astro.redirect('/signin')
import BaseLayout from "@/layouts/BaseLayout.astro";
const userId = Astro.locals.user?.id ?? null; 
---
<div id="user-context" data-user-id={userId}></div>

<BaseLayout>
    Użytkownik: {JSON.stringify(Astro.locals.user)}
    <button disabled id="signOutButton">Wyloguj się</button>
    <button disabled id="loginButton">Zaloguj się</button>
    <button disabled id="registerButton">Utwórz konto</button>
    <a href="/dokumenty/OPU.pdf" target="_blank" rel="noopener noreferrer">
  Download PDF
</a>
    <div>Strona główna</div>
    <script>
      import { authClient } from '@/auth-client'
      const userID = document.getElementById('user-context')?.dataset.userId;
      
      
      if (userID) {
        document.getElementById('signOutButton')?.removeAttribute('disabled');
        document.getElementById('signOutButton')?.addEventListener('click', async () => {
          await authClient.signOut()
          window.location.href = '/user/signin'
        })
      } else {
        document.getElementById('loginButton')?.removeAttribute('disabled');
        document.getElementById('loginButton')?.addEventListener('click', async () => {
          window.location.href = '/user/signin'
        })
        document.getElementById('registerButton')?.removeAttribute('disabled');
        document.getElementById('registerButton')?.addEventListener('click', async () => {
          window.location.href = '/user/signup'
        })
      }
      
    </script>
</BaseLayout>