---
console.log("test")
import { connectToDatabase } from '@/lib/testdb';

const db = await connectToDatabase();
const posts = await db.collection('posts').find().toArray();
---
<html lang="pl">
  <head>
    <title>Test</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Posty w bazie danych</h1>
    <ul>
        {posts.map(post => (
            <li>
                {post.content}
            </li>
        ))}
    </ul>

  </body>
</html>