---

 
 const session = () => {
     if (Astro.locals.session) {
         return Astro.locals.session;
     } else {
         // Redirect to login page if the user is not authenticated
         return Astro.redirect("/login");
     }
 }
  
console.log(session())
 ---
<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
  </body>
</html>