---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Nie masz uprawnień do wyświetlenia żądanej strony</h1>
    <h2><a href="/">Powrót do strony głównej</a></h2>
</BaseLayout>